// custom variable
$primary:       #134875;
$secondary:     lightgray;
$info:          purple;
$warning:       darkyellow;

$dark:          darkgray;
$white:        #fff;
$gray-400:      #333;
$pink: #E33D79;
$blue: #134875;
$green: #62DAAC;

$font: 'Open Sans', sans-serif;

/*grid*/
$grid-columns:      12;
$grid-gutter-width: 30px;

$carousel-control-color: $dark;
$carousel-control-prev-icon-bg: $pink;
$carousel-control-next-icon-bg: $pink;

//responsive
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1140px) { }

// import bootstrap
@import url(node_modules/bootstrap/scss/bootstrap);
@import url(node_modules/bootstrap/scss/bootstrap-grid);
@import url(node_modules/bootstrap/scss/buttons);
@import url(node_modules/bootstrap/scss/carousel);

//font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


body {
    margin: 0;
    padding:0;
    background: #fff;
    font-family: $font;
}
// typography
h1 {
   //font-size:80px;
   color: $white;
       font-family: $font;

}
h2 {
    font-size:58px;
    font-weight: 600;
        font-family: $font;

 }
h3 {
   font-size:32px; 
}
h4 {
    font-size:24px; 
    font-weight:600;
    color:$white;
        font-family: $font;

} 
p {
    font-size: 13px;
        font-family: $font;

}
.text-right {
    text-align: right;

}
.text-left {
    text-align: left;
}
// nav
.logo {
    width: 150px;
    display:inline-flex;
    @media (min-width: 768px) {
        display: none;
        } 
    }
.navbar-toggler:focus {
    box-shadow: none;
}
nav {
    &.navbar {
        border-bottom: 1px solid $dark;
        position: absolute;
    top: 0;
    width: 100%;
        @media (min-width: 768px) {
            border:0;
            position: relative;
        }

    }
    background: $white;
    @media (min-width: 768px) {
        background: transparent;
        margin: 0;
        padding: 0;
      
    }
    
    .nav-logo {
        margin:0;
        display: block;

        padding: 10px 0 0 0;
        width: 100%;
        @media (min-width: 768px) {
             display: none;
             padding:0;
             border:0;
         }
    }
    .nav-list {
        width: 100%;
        display: none;
        @media (min-width: 768px) {
            width: auto;
        }
        &.active {
            display:block;
                    @media (min-width: 768px) {
                        display:block;
                    }  
            
        }
    }
    .nav-list-desktop {
        display:none;
         @media (min-width: 768px) {
             width: 100%;
                        display: inline-grid;
                        a {
                            display: inline-grid;
                        }
                    }  
    }

    h5{
        display:none;
        
        @media (min-width: 768px) {
        margin: 15px 30px;
        position: absolute;
        text-align: left;
        display: inline-flex;
        font-family: $font;
        color:$white;
        font-weight: bold;
        font-size:18px;
        }

    }
    font-size: 18px;
    font-weight: bold;
    a {
        display:block;
        margin: 15px;
        color:$blue;
        text-decoration: none;
        @media (min-width: 768px) {
            display: inline-flex;
            text-align: right;
            padding:0px 12px;
            font-weight: 400;
            font-family: $font;
            color:$white;
            font-size:14px;
        }
        &:last-child {
            margin-right:55px;
        }
    }
    
}
.template {
    margin:0;
    padding:0;
}

// component
 .hero-callout {
        padding: 50px;
        font-size:60px;
        text-align: left;
        letter-spacing: -3.2px;
        width: 100%;
        line-height: 50px;
        font-family: $font;
        @media (min-width: 768px) {
            padding: 200px 50px;
            width: 80%;
        }
        h1 {
            width: 100%;
            margin: 385px 0 0;
            font-size:48px;

            @media (min-width: 768px) {
            margin: 220px 0 0;
            width: 70%;
            font-size:58px;
            letter-spacing: -3.2px;
            color:$white;
            opacity: 1;
            }
        }
}
.overlay-hero {
    margin:-110px 0;
    background-image: url('/assets/images/hero.jpg');
    max-width: 1440px;
    width:100%;
    height: 900px;
    background-position: cover;
    background-repeat: no-repeat;
}
//buttons
.btn {
    border-radius: 2em;
}
.primary-cta {
    margin:24px 0;
    padding: 10px 20px;
    background-color: $pink;
    font-size:14px;
    color: $white;
    display: block;
    font-family: $font;
    border-color:$pink;
    &:hover {
        opacity: 0.95;
        border-color:$pink;
        background-color: $pink;

    }
}
.secondary-cta {
    margin:24px 0;
    padding: 10px 10px;
    background-color: $white;
    font-size:14px;
    color: $pink;
    display: block;
    font-family: $font;
    border-color:$white;
    &:hover {
        opacity: 0.95;
        border-color:$white;
        color: $pink;
        background-color: $white;

    }

}
.intro-callout {
        margin:0;
        padding: 100px 55px;
        font-size:60px;
        color:$white;
        background-color: $blue;
        text-align: left;
        letter-spacing: -3.2px;
        width: 100%;
        line-height: 50px;
        font-family: $font;
        h1 {
            width:100%;
            @media (min-width: 768px) {
                width: 50%;
            }
        }
        p {
            width: 100%;
            line-height: 22px;
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 1px;
            @media (min-width: 768px) {
                width: 50%;
            }
        }
       
}

//article 
.article-section {
    padding-top:83px;
    background-color: $white;
    h2 {
        padding: 0 20px;
        font-size:24px;
        color:  $pink;
        text-align: left;
    }
}
.article-grid {
    @media (min-width: 768px) {
        margin: 20 0px;
        column-gap: 30px;
        column-count: 2;
        max-width: 100%
        }
}
 article {
    max-width: 580px;
    border-top: 1px solid $dark;
    padding: 10px 0;
    width:100%;
    
     h3 {
        color: $blue !important;
        font-size: 32px;
        line-height: 32px;
        display:block;
    }
    img {
        margin: 10px 0;
        max-width: 530px;
        width:100%;
        display:block;
      }
      .tag {
        margin: 15px 0;
        padding:5px 10px;
        font-size:13px;
        display: inline-flex;
        width: auto;
        &.green {
             background-color: $green;
             color: $blue;
        }
        &.blue {
            background-color: $blue;
            color: $white;
        }
        
      } 
      .date {
          font-size: 12px;
          color: $gray-400;
          display:block;
      } 
    }

.image-cards-section {
    margin: 0 0 50px;
    h2 {
        padding: 0 20px;
        font-size:24px;
        color:  $pink;
        text-align: left;

    } 
    .divider {
        border-bottom: 1px solid $dark;
        width: 100%;
        margin:30px 0;
        height: 2px;
    }
    
}
.image-card {
        width:100%;
        padding:0;
        display: inline-grid;
        background-color: $green;
        margin:20px 0;
        
        @media (min-width: 768px) {
                max-width: 300px;
                margin:20px;
        }

        span {
            padding: 30px 30px 10px;
            font-size:10px;
            color: $blue;
            display:block;
        }
        h3 {
            padding: 10px 30px;
            font-size:24px;
            color: $blue;
            display:block;
        }
        img {
            width:100%;
            display: block;
             @media (min-width: 768px) {
                max-width: 300px;
            }
        }
    }

footer {
    background-color:#FAFAFA;
    padding:20px;
    margin:0;
    a {
        color:$gray-400;
    }
    .logo {
        display: block !important;
    }
    .top {
        svg {
          text-align: right;
          color: $gray-400;
          font-size:30px;
          transform: rotate(180);

        }
    
    }
}

// Toggle
.third-button {
    display: inline-flex;
    float: right;

}
/* Icon 1 */

.animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}


.animated-icon3 span {
background: $pink;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}

// carousel
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}
.carousel-control-next, .carousel-control-prev {
    top:100%;
    display:inline-flex;
    position: relative;
    margin: 0 0 0 17px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    color: $pink;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

